{% extends 'base.html' %}

{% block title %}Feedback List{% endblock %}

{% block content %}
    <h1>Feedback</h1>
    <a href="{% url 'app_name:feedback_create' %}" class="btn btn-primary">Add Feedback</a>
    <table class="table">
        <thead>
            <tr>
                <th>Employee</th>
                <th>Feedback Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for feedback in feedbacks %}
                <tr>
                    <td>{{ feedback.employee.first_name }} {{ feedback.employee.last_name }}</td>
                    <td>{{ feedback.feedback_date }}</td>
                    <td>
                        <a href="{% url 'app_name:feedback_detail' feedback.id %}" class="btn btn-info">View</a>
                        <a href="{% url 'app_name:feedback_update' feedback.id %}" class="btn btn-warning">Edit</a>
                        <a href="{% url 'app_name:feedback_delete' feedback.id %}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}